
    <div class="container card2">

        <p class="titulo">Map Championship</p>
        <form class="mt-3" [formGroup]="yearForm" (ngSubmit)="getMapbyYear()">
            <div class="mb-3 insideIcons ">
           
                <input type="text" class="form-control celda " id="year" formControlName="year"
                autocomplete="null" placeholder="Insert year">

                <div class="text-danger" *ngIf="yearForm.get('year')?.hasError('required') && yearForm.get('year')?.touched">
                    <span><b>El año es requerido</b></span>
                </div>         
            </div>
            <hr />
            <div  class="mb-3 mt-5">
                <button type="submit"  [disabled] = "yearForm.invalid" class="button-49" style="margin-left:530px; font-family:Formula1 Display Wide">Submit</button>
            </div>
        </form>  
    </div>