<p>comparacion-pilotos works!</p>
<p>mapa-mostrar works!</p>
<div class="row">
    <div class="col-lg-6 offset-lg-3 margen">
        <div class="card card2">
            <div class="card-header text-center fondo">
                <h3 class="titulo">Ticket de year</h3>
                <form class="mt-3" [formGroup]="comparacionForm" (ngSubmit)="getComparacion()" >
                    <div class="mb-3">
                        <input type="text" class="form-control celda" id="year" formControlName="year"  autocomplete="null"
                            placeholder="Año del campeonato">
                            <div class="text-danger"
                                *ngIf="comparacionForm.get('year')?.hasError('required') && comparacionForm.get('year')?.touched">
                               <span>El año es <b>requerido</b></span> 
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control celda" id="nombre" formControlName="piloto1" autocomplete="null"
                                    placeholder="Primer Piloto">
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control celda" id="pais" formControlName="piloto2" autocomplete="null"
                                    placeholder="Segundo Piloto">
                            </div>

                            <div class="mb-3">
                                <button type="submit" [disabled]="comparacionForm.invalid" class="btn btn-success float-end">ANGULAR</button>
                            </div>
                    
                    </div>
                </form>
                <br>
                <form class="mt-3" [formGroup]="comparacionForm" (ngSubmit)="djangoComparacion()" >
                    <div class="mb-3">
                        <input type="text" class="form-control celda" id="year" formControlName="year"  autocomplete="null"
                            placeholder="Año del campeonato">
                            <div class="text-danger"
                                *ngIf="comparacionForm.get('year')?.hasError('required') && comparacionForm.get('year')?.touched">
                               <span>El año es <b>requerido</b></span> 
                               
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control celda" id="nombre" formControlName="piloto1" autocomplete="null"
                                    placeholder="Primer Piloto">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control celda" id="pais" formControlName="piloto2" autocomplete="null"
                                    placeholder="Segundo Piloto">
                            </div>
                            <div class="mb-3">
                                <button type="submit" [disabled]="comparacionForm.invalid" class="btn btn-secondary float-end">DJANGO</button> 
                            </div>
                    
                    </div>
                </form>
                
        </div>
    </div>
        <div>
        <img>
    
    </div>